[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
azure-cognitiveservices-speech = "*"
pocketsphinx = "*"
speechrecognition = "*"
pvporcupine = "*"
bark = "*"

pyaudio = "*"
openwakeword = "*"
