[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
speechrecognition = "*"
langchain-community = "*"
pocketsphinx = "*"
langchain-google-genai = "*"
gtts = "*"
pygame = "*"
pyaudio = "*"
langchain-openai = "*"

[dev-packages]
pylint = "*"
