[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
speechrecognition = "*"
langchain-community = "*"
pocketsphinx = "*"
langchain-google-genai = "*"
gtts = "*"
pygame = "*"
langchain-openai = "*"
pyowm = "*"
wikipedia = "*"
youtube-search = "*"
arxiv = "*"
duckduckgo-search = "*"
yt-dlp = "*"
langdetect = "*"
pvporcupine = "*"
pvrecorder = "*"
audioplayer = "*"
pydispatcher = "*"
microwakeword = {ref = "main", git = "https://github.com/dzianisv/microWakeWord.git"}
numpy = "*"
pyaudio = "*"

[dev-packages]
pylint = "*"
