pyaudio
langchain
langchain-community
langchain_google_genai
langchain_openai
openai
speechrecognition
gtts
audioplayer
PyGObject # required by audioplayer
langdetect

pyowm
wikipedia
youtube-search
arxiv
# duckduckgo-search requires curl impersonate that is not available on armv7
yt-dlp
OPi.GPIO

pydispatcher