langchain
langchain-community
langchain_google_genai
langchain_openai
langchainhub
openai
speechrecognition
gtts
langdetect
pygame # to play gtts sounds
portaudio # required by speech recognition library
git+https://github.com/dzianisv/ReatimeTTS[gtts,openai]

pyowm
wikipedia
youtube-search
arxiv
# duckduckgo-search requires curl impersonate that is not available on armv7
yt-dlp


# required by pvporcupine
pvporcupine
pvrecorder

pydispatcher